/* hero start */

@media only screen and (min-width: 768px) {
    .positional-image-1 .mobile-screen {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .positional-image-1 .mobile-screen {
        display: block;
    }
    .positional-image-1 .desktop-screen {
        display: none;
    }
    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .hero-content h1 {
        font-size: 1.92364rem;
    }
    .hero-content p {
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
    nav .request-button {
        display: none;
    }
}

/* hero end */

/* choose start */

@media only screen and (max-width: 768px) {
    .choose-content {
        text-align: center;
    }
    .choose-content p {
        font-size: 0.9364rem;
    }
    .choose-sec .card img {
        margin: 0 auto;
    }
    .choose-sec .card {
        text-align: center;
    }
}

/* choose end */

/* footer start */

@media only screen and (max-width: 991px) {
    footer {
        text-align: center;
    }
    .social-sec {
        justify-content: center;
    }
}

/* footer end */